<ul class="nav social">
	<li>
		<a href="{{twitter_url @blog.twitter}}" class="icon icon-medium" title="Twitter">
			{{> icons/brands/twitter}}
		</a>
	</li>
	<li>
		<a href="https://instagram.com/makerforceio" class="icon icon-medium" title="Instagram">
			{{> icons/brands/instagram}}
		</a>
	</li>
	<li>
		<a href="https://www.youtube.com/channel/UCtcONK2U5n50hQ7Ji0zagvQ" class="icon icon-medium" title="YouTube">
			{{> icons/brands/youtube}}
		</a>
	</li>
	<li>
		<a href="https://github.com/makerforceio" class="icon icon-medium" title="GitHub">
			{{> icons/brands/github}}
		</a>
	</li>
	<li>
		<a href="mailto:contact@makerforce.io?subject=Hello!" class="icon icon-medium" title="Email">
			{{> icons/solid/envelope}}
		</a>
	</li>
	<li>
		<a href="{{@site.url}}/rss" class="icon icon-medium" title="RSS">
			{{> icons/solid/rss}}
		</a>
	</li>
</ul>
