<a class="theme-toggle" onclick="toggleTheme()">
	<span class="icon theme-toggle-system">{{> icons/solid/adjust}}</span> <span class="theme-toggle-name theme-toggle-system">System theme</span>
	<span class="icon theme-toggle-dark">{{> icons/solid/moon}}</span> <span class="theme-toggle-name theme-toggle-dark">Dark theme</span>
	<span class="icon theme-toggle-light">{{> icons/solid/sun}}</span> <span class="theme-toggle-name theme-toggle-light">Light theme</span>
</a>
