{{!< default}}

{{#post}}

<article class="post-full {{post_class}}">
	<header>
		<h1>{{title}}</h1>
	</header>

	{{content}}

	<div class="post-meta">
		{{> "article-meta"}}
	</div>
</article>

{{!-- TODO: Links to Previous/Next posts --}}

{{/post}}
