{{!< default}}

{{#tag}}

<header class="tag">
	<h1 class="tag-name">{{name}}</h2>
	{{#if description}}
		<p class="tag-description">
			{{description}}
		</p>
	{{/if}}
</header>

{{/tag}}

{{> "loop"}}
