{{!< default}}

{{#tag}}

{{#if feature_image}}
<img class="post-feature-image" src="{{feature_image}}" width="1024">
{{/if}}

<header class="tag">
	<h1 class="tag-name">{{name}}</h2>
	{{#if description}}
		<p class="tag-description">
			{{description}}
		</p>
	{{/if}}
</header>

{{/tag}}

{{> "loop"}}
