$brand-color: #2bb6f6;
$accent-color: #2bb6f6;
$accent-dark-color: #0aa4ea;
$text-color: black;
$background-color: white;
$text-dark-color: white;
$background-dark-color: #1a1a1a;

$palette: (
	transparent: transparent,
	background: $background-color,
	background-dark: $background-dark-color,
	brand: $brand-color,
	accent: $accent-color,
	accent-dark: $accent-dark-color,
	text: $text-color,
	text-dark: $text-dark-color,
	link: $accent-color,
	link-active: $accent-dark-color,
	blur: mix($text-color, $background-color, 40%),
	blur-active: mix($text-color, $background-color, 55%),
	code-background: mix(mix($text-color, $background-color), transparent, 8%),
	code: mix($text-color, $background-color, 60%),
	code-dark: mix($text-dark-color, $background-dark-color, 70%),
	table-background: mix(mix($text-color, $background-color), transparent, 20%),
	table-header-background: $accent-color,
	hr: $accent-color, 
);

@function palette($name: transparent) {
	@return map-get($palette, $name);
}
