.article-meta {
	@extend .link-blur;
	@include line-height(paragraph);
	@include paragraphing(paragraph-small);

	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;

	.authors, .details {
		flex: 1 1 auto;
		display: block;
	}

	.authors,
	.author,
	.details {
		margin-top: $font-size-base * 0.2;
		margin-bottom: $font-size-base * 0.2;
	}

	.details {
		text-align: right;
	}

	.author {
		display: inline-block;
		margin-right: 0.66em;
	}
	.author-name {
		margin-left: 0.33em;
	}
	.author-avatar {
		width: 3.2rem;
	}

}
