*, *:before, *:after {
	box-sizing: border-box;
}

html {
	font-size: $base-unit;
	@include font-family();
	-webkit-font-smoothing: antialiased; // Fancy text rendering for Safari/Chrome in macOS
	-webkit-text-size-adjust: 100%; // Prevent text scaling in landscape iOS

	color-profile: sRGB; // Ensure embedded colour profiles are not used 
}

body {
	font-size: $font-size-base;

	color: palette(text);
	background-color: palette(background); 

	@media (prefers-color-scheme: dark) {
		color: palette(text-dark);
		background-color: palette(background-dark); 
	}

	&.theme-dark {
		color: palette(text-dark);
		background-color: palette(background-dark); 
	}
	&.theme-light {
		color: palette(text);
		background-color: palette(background); 
	}

	overflow-wrap: break-word; // TODO: Test the impact of this on all pages
}

@media screen and (min-width: 960px) {
	html {
		font-size: 11px;
	}
}

@media screen and (min-width: 1440px) {
	html {
		font-size: 12px;
	}
}
