*, *:before, *:after {
	box-sizing: border-box;
}

html {
	font-size: $base-unit;
	@include font-family();
	-webkit-font-smoothing: antialiased; // Fancy text rendering for Safari/Chrome in macOS
	-webkit-text-size-adjust: 100%; // Prevent text scaling in landscape iOS

	color-profile: sRGB; // Ensure embedded colour profiles are not used 
}

@mixin themed($element) {
	#{$element} {
		@content(light);

		@media (prefers-color-scheme: dark) {
			@content(dark);
		}

		&.theme-light {
			@content(light);
		}

		&.theme-dark {
			@content(dark);
		}
	}

	.theme-light #{$element} {
		@content(light);
	}

	.theme-dark #{$element} {
		@content(dark);
	}
}

body {
	font-size: $font-size-base;
	overflow-wrap: break-word; // TODO: Test the impact of this on all pages
}

@include themed(body) using ($theme) {
	@if $theme == light {
		color: palette(text);
		background-color: palette(background); 
	}
	@if $theme == dark {
		color: palette(text-dark);
		background-color: palette(background-dark); 
	}
}

@media screen and (min-width: 960px) {
	html {
		font-size: 11px;
	}
}

@media screen and (min-width: 1440px) {
	html {
		font-size: 12px;
	}
}
