.post-full .kg-image-card {
	text-align: center;
}

.post-full .kg-width-wide,
.post-full .width-wide {
    max-width: 1040px;

	img {
		width: 100%;
	}
}

.post-full .kg-width-full,
.post-full .width-full {
    max-width: 100vw;

	img {
		width: 100%;
	}
}
