.post-full {
	.kg-embed-card > * {
		margin-left: auto;
		margin-right: auto;
	}

	.kg-image-card {
		text-align: center;
	}

	.kg-width-wide,
	.width-wide {
		max-width: 1040px;

		img,
		amp-img {
			width: 100%;
		}
	}

	.kg-width-full,
	.width-full {
		max-width: 100vw;

		img,
		amp-img {
			width: 100%;
		}
	}
}
