@use "sass:color";

.articles {
	article {
		margin: 6rem 0;
	}
}

.preview {
	@extend .post-full;

	min-height: 8rem;
	max-height: 32rem;
	margin-bottom: -1rem;

	overflow: hidden;
	// Restore margins due to overflow: hidden
	margin-top: $font-size-base * -1;

	// Ignore IE11
	$gradient: linear-gradient(to bottom, black 0%, black 66%, transparent 100%);
	-webkit-mask-image: $gradient;
	mask-image: $gradient;

	h1 {
		@include font-size(h3);
		@include paragraphing(paragraph); // Restore margin-top
	}

	h2 {
		@include font-size(h4);
	}

	h3 {
		@include font-size(h5);
	}

	h4, h5, h6 {
		@include font-size(h6);
	}
}
