*, *:before, *:after {
	box-sizing: border-box;
}

html {
	font-size: $base-unit;
	@include font-family();
	overflow-x: hidden;

	color-profile: sRGB; // Ensure embedded color profiles are not used 
	-webkit-font-smoothing: antialiased; // Fancy text rendering for Safari/Chrome in macOS
	-webkit-text-size-adjust: 100%; // Prevent text scaling in landscape iOS
}

body {
	font-size: $font-size-base;
	color: #000;
	overflow-x: hidden;
}
