// This goes hand-in-hand with koenig

.limit-width {
	max-width: 68rem;
	margin-left: auto;
	margin-right: auto;
}

header,
.articles {
	@extend .limit-width;
}

// Big stuff

.post-feature-image {
	margin-left: -2rem;
	margin-right: -2rem;
	width: 100vw;
	object-fit: cover;
	max-height: calc(10rem + 50vmin);

	img {
		// AMP
		object-fit: cover;
	}
}

// Nice components

.banner {
	@include paragraphing(paragraph);
	text-align: center;
	border: 3px solid palette(hr);
	padding: 1.5rem;
}

.post-meta {
	@include paragraphing(metadata);
}

// Layouts

.post-full > * {
	@extend .limit-width;
}

.post-full > iframe,
.post-full > img {
	// Force inline elements into block elements
	display: block;
}

main {
	margin-left: 2rem;
	margin-right: 2rem;
}
