.navigation {
	width: 100%;
	padding: 2rem;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	text-align: center; // ie9

	.brand {
		flex-grow: 2;
		text-align: left;
		margin-right: 1rem;

		a:hover, a:active {
			filter: brightness(0.95);
		}
	}

	.nav {
		text-transform: lowercase;
		margin: 0.3rem;
		display: inline-block; // ie9
	}
}

