$icomoon-font-path: "fonts" !default;

$icon-envelope: "\f003";
$icon-twitter: "\f099";
$icon-github: "\f09b";
$icon-feed: "\f09e";
$icon-globe: "\f0ac";
$icon-google-plus: "\f0d5";
$icon-linkedin: "\f0e1";
$icon-bitcoin: "\f15a";
$icon-youtube: "\f167";
$icon-instagram: "\f16d";
$icon-dribbble: "\f17d";
$icon-reddit: "\f1a1";
$icon-behance: "\f1b4";
$icon-codepen: "\f1cb";
$icon-twitch: "\f1e8";
$icon-stripe: "\f1f5";
$icon-facebook: "\f230";
$icon-snapchat: "\f2ac";

